volumes:
  postgres_data:

services:
  postgres_db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: my_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    depends_on:
      - postgres_db
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@postgres_db:5432/my_db
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: ./entrypoint.sh

